:root{
    --primary: #011111;
    --secondary: #3f8f8a;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.profile-wrapper {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #d9d9d9; */
    background-color: var(--primary);
    gap: 800px;
}

.name{
    display: flex;
    align-items: center;
    gap: 30px;
}

.name > h3{
    font-size: 25px;
    font-weight: bold;
    color: #3f8f8a;
}


.icon{
    width: 60px;
    height: 40px;
    /* background-color: maroon; */
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    font-size: 20px;
    color: #3f8f8a;
}
.navigation > span {
    height:20px;
    width:2px;
    background-color: whitesmoke;
}

.github img {
    width:50px;
    height: 50px;
}

nav a{
    z-index: 10;
}
nav{
    position: fixed;
    width:100%;
    z-index: 10;
}
.link{
    text-decoration: none;
    color: #3f8f8a;

}
/**************************************************/

/**************************************************/
body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    

    
}
.body-wrapper-wrapper{
    background-color: #0c0d0ee1;
    height: 3300px;
}


.body-wrapper{
    top: 70px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.intro{
    margin: 0 5%;
    height: 500px;
}

.intro-line {
    height: 200px;
    width: 1px;
    background-color: whitesmoke;
    color: white;
    display: inline-block;
    z-index: 5;
    position: absolute;
    left: 1.5%;
}
.intro-text-flex{
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.intro-text-flex h1{
    color: #3f8f8a
}
.intro-text-flex h3{
    color: #3f8f8a;
    top: 10px;
    position: relative;
}

.link-flex{
    display: flex;
    width:100%;
    position: relative;
    top: 60px;
    gap: 20px;
    flex-wrap: wrap;
    
    
}

.link-flex a {
    font-weight:bolder;
    text-decoration: none;
    width: 145px;
    height:45px;
    border: 2px solid #808080;
    border-radius: 5px;
    color: #3f8f8a;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding-top: 10px;
    position: relative;
    left: -10%;
    bottom: 5%;
    gap:10px
    
}
.contact-link {
    position: relative;
    right:50%;
    top:60px;


    
    
}
.contact-link a {
    width: 230px;
}

.link-flex a:hover{
    background-color: #333;
}

/************************************************/

/************************************************/

.intro-end{
    position: relative;
    top: 150px;
    width:110%;
    right: 5%;
}
.intro-end h1{
    position: relative;
    right: 1%;
    color: #808080;
}



.wrapper{
    height: 500px;
    width: 400px;
}


.page{
    position: relative;
    top :5%;
    background-color: #112b3cad;
    /* border: 2px solid whitesmoke; */
    border-radius: 1rem;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: 50%;
}
.image-cube{
    height: 300px;
    width: 400px;
    transform-style: preserve-3d;
    position: relative;
    top:50px;
    transition: transform 1s ease;
    animation-fill-mode: forwards;
    
}
.movefwd{
    z-index: 5;
    width: 30px;
    margin: 0;
    height: 30px;
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    cursor: pointer;

}
.movebck{
    z-index: 5;
    width: 30px;
    margin: 0;
    height: 30px;
    position: absolute;
    top:50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button{
    border-radius: 1rem;
    background-color: silver;

}
.image-cube div{
    height: 90%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    transition: transform 1s ease;
}

.front{
    transform: translateZ(200px);
}
.right{
    transform: rotateY(-270deg) translateX(200px);
    transform-origin: 100% 0;
}
.back{
    transform: translateZ(-200px) rotateY(180deg);
}
.left{
    transform: rotateY(270deg) translateX(-200px);
    transform-origin: 0 50%;
}


.front {
    background-image: url(images/gif2.gif);
    background-size: cover;

}

.right{
    background-image: url(images/gif1.gif);
    background-size: cover;
}

.back{
    background-image: url(images/gif3.gif);
    background-size: cover;
}

.left{
    background-image: url(images/gif4.gif);
    background-size: cover;
}

/************************************************/

/************************************************/

.about{
    height:700px;
    
}

.about-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
    color: gray;
    
    
    margin: auto;
    gap:5px;

}

.box1{
    background-color: var(--primary);
    grid-row: 1/16;
    grid-column: 1/25;
    overflow:hidden;
    position: relative;

}
.box1 > h3 {
    font-size: 35px;
    text-align: center;
}

.box1-wrapper{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    transform: translateY(-10%);

}
.box1-wrapper img {
    width: 150px;
    height: 150px;
}

.box2-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

}

.box2{
    background-color: var(--primary);
    grid-row: 1/31;
    grid-column: 25/31;
    overflow:hidden;
    position: relative;
}
.box2 h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
.box2 ul{
    position: relative;
    left: 10%;
}
.box2 hr {
    margin: 5px 0;
}

.about-flex{
    display: flex;
    justify-content: space-evenly;
}
.box2  img {

    width: 100px;
    height: 100px;
}

.box3{
    background-color: var(--primary);
    grid-row: 16/31;
    grid-column: 12/25;
    position: relative;
}
.box3 > p {
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    overflow:hidden;
}
.box3 > h3 {
    text-align: center;
    font-size: 35px;
}

.box4{
    background-color: var(--primary);
    grid-row: 16/24;
    grid-column: 1/12;
    position: relative;
    overflow:hidden;

}
.box4 > ul{
 list-style-position: inside;
 position: absolute;
 bottom: 0;
 font-size: 20px;
 left:5%;
}
.box4 > h3{
    font-size: 30px;
    text-align: center;
}
.box5{
    background-color: var(--primary);
    grid-row: 24/31;
    grid-column: 1/12;
    list-style-position: inside;
    position: relative;
}
.box5 h3{
    text-align: center;
    font-size: 30px;
}
.box5 ul{
    left: 5%;
    position: absolute;
}
.box5 li {
    margin-top: 5px;
}

.about-end {
    position: relative;
    top: 70px;
}

.about-end > h1{
    color: gray;
    position: relative;
    right:1%;
}





/**********************************************/

.project {
    margin-top: 150px;
    height: 1400px;

}

.project-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%;
    height: 100%;
    gap:80px;
}

.proj1, .proj2, .proj3, .proj4 {
    background-color: white;
    height: 400px;
    width:50%;
    position: relative;
    border-radius: 5px;;
}

.proj2, .proj4{
 align-self: flex-end;
}

.slider-right{
    background-color: #333333;
    height: 75%;
    width: 95%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:90%;
    border-radius: 5px;;
}

.slider-left{
    background-color: #333333;
    height: 75%;
    width: 95%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:90%;
    border-radius: 5px;;
}

.slider-line-big{
    height: 96%;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 30%;
    top:2%;
}
.slider-line-small{
    height: 50%;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 23%;
    top:25%;
}

.slider-line-big-right{
    height: 96%;
    width: 1px;
    background-color: white;
    position: absolute;
    right: 30%;
    top:2%;
}
.slider-line-small-right{
    height: 50%;
    width: 1px;
    background-color: white;
    position: absolute;
    right: 23%;
    top:25%;
}


.project-end {
    position: relative;
}

.project-end > h1{
    color: gray;
    position: relative;
    right:1%;
}

/***************************************/

/***************************************/


.contact{
    height: 300px;
    margin-top: 100px;
}

.contact-flex{
    display: flex;
    justify-content: space-evenly;
    gap:300px;
    align-items: center ;
}
.contact-picture{
    width: 300px;
    height: 300px;
    background-color: white;
}

#message {
    width:500px;
    height: 200px;
    background-color: rgb(192, 184, 184);
}

#email{
    width: 220px;
    height : 25px;
    background-color: rgb(192, 184, 184);
}

#name {
    height: 25px;
    background-color: rgb(192, 184, 184);
}

.submission{
    position: relative;
}
#submit{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -7%;
    background-color: #333;
}
